.projects-section {
    padding: 80px 0 40px;
    background-color:rgba(25, 36, 99, 0.780);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    padding: 0 20px;
}

.col-lg-12 {
    height: 400px;
}

.container a {
    text-decoration: none;
}

.container a .proji-info {
    color: black;
}

.projects-section .proji-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 30px 20px;
    height: 360px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 15px 0px 15px -15px #1f2235;;
}

.projects-section .proji-item img {
    height: 210px;
    width: 100%;
    border: 1px solid transparent;
    border-color: black;
    left: 0;
    top: 0;
    border-radius: 9px;
    position: relative;
}

.projects-section .proji-info {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column
}

.projects-section .proji-info h5 {
    font-size: 20px;
    margin: 10px;
}

.projects-section .proji-item p {
    margin: 0 0 10px;
    font-style: italic;
}

.proji-item:hover {
    transform: scale(1.03);
}

@media only screen and (max-width: 1000px) {
    .projects-section .proji-item img {
        height: 180px;
        width: 100%
    }
}

/* .footer-image {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    overflow: hidden;
    display: flex;
    justify-content: center;
} */

/* .footer-container{
    height: 17.8%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.footer-parent{
    width: 100%;
    height: 100%;
    max-width: 1920px;
}

.footer-parent img{
    max-width: 100%;
    height: 130px;
}

@media only screen and (max-width: 1110px) {
    .footer-parent{
        display:flex;
        align-items: flex-end;
    }
} */